body {
      background-color: #FFF;
      font-family: Arial, Verdana;
      font-size: 14px;
      padding: 10px;
}

p {
      margin-top: 2px;
}

p#update {
      margin-top: 10px;
}

table {
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      color: #333;
      background: #F3F5F7;
      font-size: 13px;
}

table a {
      color: #3A4856;
      text-decoration: none;
      border-bottom: 1px solid #FFF;
}

table a:visited {
      color: #777;
}

table a:hover {
      color: #000;
}

table thead th {
      background: #EAECEE;
      padding: 15px 5px;
      color: #000;
      text-align: center;
      font-weight: bold;
      vertical-align: top;
}

table tr th {
      background: #EAECEE;
}

th.rowheader span {
      padding-right: 5px;
}

table td.firstsection {
      padding-left: 20px;
      border-left: 1px solid #FFF;
}

table td.lastsection {
      padding: 0 10px;
      border-right: 1px solid #FFF;
}

table .lastsection:last-child {
      border-right: 0;
}

table tbody, table thead {
      border-left: 1px solid #FFF;
      border-right: 1px solid #FFF;
}

table tbody {
      border-bottom: 1px solid #FFF;
}

table tbody td, table tbody th {
      padding: 5px;
      text-align: right;
      min-width: 25px;
}

table tbody td {
      border-bottom: 1px solid #FFF;
}

table tbody tr {
      background: #F5F5F5;
}

table tbody tr.odd {
      background: #F0F2F4;
}

table tbody tr:hover {
      background: #EAECEE; color: #111;
}
